$mainColor: #00507b;
$accentColor: #bfb71b;
$baceColor: #e7f3fa;
$mainEnFont: "Prompt", sans-serif;
$subEnFont: "Libre Baskerville", serif;

@mixin headlineSet(
  $ai: center,
  $color: #707070,
  $bg: $mainColor,
  $m: 0 0 40px
) {
  display: flex;
  align-items: $ai;
  flex-direction: column;
  margin: $m;
  span {
    &:first-of-type {
      color: $color;
      font-size: 1.8rem;
      font-weight: bold;
      font-family: $mainEnFont;
    }
    &:last-of-type {
      color: $mainColor;
      font-size: 3.6rem;
      font-weight: bold;
    }
  }
  &::after {
    content: "";
    display: block;
    width: 1px;
    height: 64px;
    background: $bg;
    margin: 8px 16px 0;
  }
}

@mixin worksAfterSet($text: "大会戦績", $color: $baceColor, $b: 24px, $l: 0) {
  &::after {
    content: $text;
    color: $color;
    font-size: 9rem;
    line-height: 9rem;
    mix-blend-mode: multiply;
    position: absolute;
    bottom: $b;
    left: $l;
  }
}
